.page-container {
	// display: flex;
	// flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 20px;
    background: #fff;
	box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border 0s,
    color 0.1s, font-size 0s;
	.main-container {
	  flex: 1;
	  background-color: white;
	  padding: 0.2rem;
	  box-sizing: border-box;
	  display: flex;
	  flex-direction: column;
	
	  .table-wrap {
		flex: 1;
		overflow: hidden;
	  }
	}
}
.img-uploader {
	.img {
	  width: 120px;
	  height: 120px;
	  display: block;
	}
	.el-icon.img-uploader-icon {
	  font-size: 28px;
	  color: #8c939d;
	  width: 120px;
	  height: 120px;
	  text-align: center;
	}
	.el-upload {
	  border: 1px dashed var(--el-border-color);
	  border-radius: 6px;
	  cursor: pointer;
	  position: relative;
	  overflow: hidden;
	  transition: var(--el-transition-duration-fast);
	}
	&:hover {
	  border-color: var(--el-color-primary);
	}
  }
.card{
box-sizing: border-box;
padding: 20px;
overflow-x: hidden;
background-color: var(--el-fill-color-blank);
border: 1px solid var(--el-border-color-light);
border-radius: 4px;
box-shadow: 0 0 12px #0000000d;
}
.form-line {
    display: flex;
    .el-form-item {
        margin: 0 10px 22px;
        width: 20%;
    }
  }
.el-drawer__title {
	font-size: 18px !important;
}
.el-drawer__header {
	margin-bottom: 0 !important;
}
  
/* scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: white;
}
::-webkit-scrollbar-thumb {
	background-color: #dddee0;
	border-radius: 20px;
	box-shadow: inset 0 0 0 white;
}
@media (max-width: 576px) {
	.el-form {	
		height: auto;
		.form-line {
			display: block;
			.el-form-item {
				width: 100%;
			}
		}
	}
	.el-header .tool-bar-left .collapse-icon {
		margin-right: 5px;
	}
	.tool-bar-left .el-breadcrumb__separator.el-icon {
		margin: 0 2px;
	}
}

.code-wrapper {
	.theme {
		&__bgcolor {
			background-color: #ffffff;
		}
		&__bgcolor_1 {
			background-color: #f5f7fa;
		}
		&__border {
			border: 1px solid #5a72db;
		}
		&__text_color {
			color:#fff;
		}
		&__bgcolor_th {
			background-color: #f5f7fa;
		}
	}
	.form-wrapper {
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
.code {
	&-page__title {
    font-size: 20px;
    padding-bottom: 1.5vh;
	}
	&-page__subtitle {
    padding: 10px 1.5vh;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
		&>.el-icon {
			margin-right: 5px;
			vertical-align: middle;
			font-size: 1.1em;
		}
	}
	&__form-action-wrapper {
    justify-content: center;
    margin: 20px 0px 25px 0px;
		.el-button + .el-button {
			margin-left: 50px;
		}
	}
}
#barcode {
	max-width: 100%;
}