$--colors: (
  'primary': (
    'base': green,
  ),
  'success': (
    'base': #21ba45,
  ),
  'warning': (
    'base': #f2711c,
  ),
  'danger': (
    'base': #db2828,
  ),
  'error': (
    'base': #db2828,
  ),
  'info': (
    'base': #42b8dd,
  ),
);

// we can add this to custom namespace, default is 'el'
@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'el'
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  // $colors: $--colors,
  $button-padding-horizontal: ('default': 50px)
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;
// custom dark variables
@use './dark.scss';
// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@import '../var.scss';


.el-button {
  padding: 8px 15px ;
}
.el-table{
  tr{
    // background-color:#fff
  }
  .el-table__expanded-cell{
    padding: 20px 20px 20px 50px!important;
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #F6F8F9 
  } 
}
.el-dialog{
  border-radius: 10px !important;
  .el-dialog__body{
    padding:  10px 20px ;
  }
}

.el-menu,
	.el-menu--popup {
		.el-menu-item {
      &:hover{
        background-color: var(--el-menu-hover-bg-color);
        color:#fff;
      }
			&.is-active {
        background: var(--el-color-primary);
			}
		}
	}